<main>
    <h2>Contact</h2>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, totam aperiam! Harum eligendi tempora earum blanditiis impedit. At mollitia error vel voluptatibus officia modi placeat illum quidem architecto quas? Inventore!
</main>